{% load static %} 
<!DOCTYPE html>
<html>
<title>{{ about.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
body{
	background-image: url("{% static "/images/geometry2.png" %}");
	background-repeat: repeat;
}
.long{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
</style>
<body>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">


  	<!-- The Grid -->
  	<div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-col">
 
    {% if classes %}
		{% for x in classes %}
			<div class="w3-white w3-text-grey w3-card-4 w3-animate-opacity">
				<header class="w3-container w3-teal">
  					<h4><a href="{% url 'classes' id=x.url %}">{{x.name}}</a></h4>
				</header>

				<div class="w3-container">
  				<p> {{x.description | safe}}</p>
				</div>
  
			</div><br>
		{% endfor %}
	{% else %}
		<div class="w3-white w3-text-grey w3-card-4">
        	<div class="w3-container"><p>Brak zajęć.</p></div>
      	</div><br>
	{% endif %}
    </div>

  </div>
</div>

</body>
</html>