<!DOCTYPE html>
<html>
<title>AiSD</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-twothird">
    
    {% if lessons %}
	{% for lesson in lessons %}
		<div class="w3-white w3-text-grey w3-card-4 ">

		<header class="w3-container w3-blue-gray">
  		<h4>{{lesson.name}}</h4>
		</header>

		<div class="w3-container">
  		<p>{{lesson.description | safe}}</p>
  		{% if lesson.tags %}
  			<div class="w3-margin-bottom">
	    	{% for tag in lesson.tags %}
				<span class="w3-tag w3">{{tag}}</span>
	    	{% endfor %}
	    	</div>
	    {% endif %}
		</div>
  
		</div><br>
		{% endfor %}
		{% else %}
			<div class="w3-white w3-text-grey w3-card-4">
        		<div class="w3-container">Brak wpisów.</div>
      		</div><br>
		{% endif %}
      

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-third">
    
    <div class="w3-white w3-text-grey w3-card-4">
    	<header class="w3-container w3-blue-gray">
			<h4>Pomocne Źródła</h4>
		</header>
    {% if links %}
	
		<ul class="w3-ul">
	{% for link in links %}
		<li><b><a href="{{link.link}}">{{link.name}}</a></b> <br />
			{{link.description | safe}} </li>
			
		
	{% endfor %}
	</ul>
	</div>
	{% else %}
	<div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-container">Brak wpisów.</div>
    </div>
	{% endif %}
      

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

</body>
</html>
